Repository ViaXLabs/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml-indent, check-aws-tags

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml-indent
        name: Check YAML Indentation (Python)
        language: python
        entry: python hooks/validate_yaml_indent.py
        types: [text]
        files: '\.(yaml|yml)$'
  - repo: local
    hooks:
      - id: check-aws-tags
        name: Check AWS Tags in Terraform (Warning Only)
        language: python
        entry: python hooks/aws_tags_check.py
        types: [text]
        files: '\.(tf)$'

update photo
  kk-artemis.jpg
Due: none

push chat
  chats/tf_req_ver.txt
Due: none

kk star wars
  kk-star-wars.png
Due: none

add tf lint notes
  tflint-notes.rtf
Due: none

alert mute
  splunk-nr-alert-mute.rtf
Due: none

tf-nr
  tf-nr/README.md
  tf-nr/main.tf
  tf-nr/notes.md
  tf-nr/outputs.tf
  tf-nr/variables.tf
Due: check-aws-tags

update readme
  tf-nr/notes.md
Due: none

updat enr
  tf-nr/example/harness-pipeline.yaml
  tf-nr/example/main.tf
  tf-nr/example/mnt/user-data/outputs/newrelic-team-module/modules/nr_workflow/main.tf
  tf-nr/example/mnt/user-data/outputs/newrelic-team-module/modules/nr_workflow/variables.tf
  tf-nr/example/mnt/user-data/outputs/newrelic-team-module/stacks/policies/main.tf
  tf-nr/example/mnt/user-data/outputs/newrelic-team-module/stacks/workflows/main.tf
  tf-nr/example/variables.tf
Due: check-yaml-indent, check-aws-tags

destination update
  tf-nr/destination-active.rtf
Due: none

update
  tf-nr/destination-active.rtf
Due: none

canes
  canes-kk.jpg
Due: none

update repo scanner
  repo_files/.gitignore
  repo_files/README.txt
  repo_files/flattener.py
  repo_files/repo_scan.py
  repo_files/scrubber.py
  repo_files/security_revert.py
  repo_files/security_rules.yaml
  repo_files/splitter.py
  repo_files/warnings.py
Due: check-yaml-indent

add nr integration
  tf-nr/newrelic_aws_integration.tf
Due: check-aws-tags

add firhose stream files
  tf-nr/data-stream/main.tf
  tf-nr/data-stream/newrelic_aws_integration.tf
  tf-nr/data-stream/outputs.tf
  tf-nr/data-stream/variables.tf
Due: check-aws-tags

add s3 module
  tf-nr/data-stream/s3-module/main.tf
  tf-nr/data-stream/s3-module/outputs.tf
  tf-nr/data-stream/s3-module/variables.tf
Due: check-aws-tags

add nr api readme
  tf-nr/New-Relic-APM-Docker-Integration-Guide.md
Due: none

add stream review scripts
  tf-nr/data-stream/review-scripts/README.md
  tf-nr/data-stream/review-scripts/diagnose_aws_side.sh
  tf-nr/data-stream/review-scripts/diagnose_newrelic_side.sh
Due: none

updtaes to data strema scripts
  tf-nr/data-stream/review-scripts/README_1.md
  tf-nr/data-stream/review-scripts/nr_aws_diag_1.py
Due: none

add py scripts to review datastreams
  tf-nr/data-stream/review-scripts/README3.md
  tf-nr/data-stream/review-scripts/diagnose_aws.py
  tf-nr/data-stream/review-scripts/diagnose_newrelic.py
Due: none

update backgrounds
  kk-usa.jpg
  kk-world-cup.jpg
Due: none

add integration doc
  tf-nr/data-stream/review-scripts/newrelic_aws_integration.tf
Due: check-aws-tags

update doc about stream
  tf-nr/data-stream/review-scripts/kms-stream-example.tf
Due: check-aws-tags

stream notes
  stream-notes-depends.txt
Due: none

update with v4 for stream
  tf-nr/data-stream/v4/cloudwatch.tf
  tf-nr/data-stream/v4/diagnose_aws.py
  tf-nr/data-stream/v4/firehose.tf
  tf-nr/data-stream/v4/iam.tf
  tf-nr/data-stream/v4/kms.tf
  tf-nr/data-stream/v4/locals.tf
  tf-nr/data-stream/v4/metric_stream.tf
  tf-nr/data-stream/v4/newrelic.tf
  tf-nr/data-stream/v4/outputs.tf
  tf-nr/data-stream/v4/s3.tf
  tf-nr/data-stream/v4/terraform.tfvars.example
  tf-nr/data-stream/v4/variables.tf
  tf-nr/data-stream/v4/versions.tf
Due: check-aws-tags

v5 stream stuff
  tf-nr/data-stream/v5/diagnose_aws.py
  tf-nr/data-stream/v5/notes.txt
Due: none

uopdate v5
  tf-nr/data-stream/v5/firehose.tf
  tf-nr/data-stream/v5/iam.tf
  tf-nr/data-stream/v5/kms.tf
  tf-nr/data-stream/v5/locals.tf
  tf-nr/data-stream/v5/notes-2.txt
  tf-nr/data-stream/v5/outputs.tf
  tf-nr/data-stream/v5/s3.tf
  tf-nr/data-stream/v5/terraform.tfvars.example
  tf-nr/data-stream/v5/variables.tf
Due: check-aws-tags

update nr vars
  tf-nr/data-stream/v5/variables.tf
Due: check-aws-tags

update new relic relationships
  tf-nr/relationships/README.md
  tf-nr/relationships/__init__.py
  tf-nr/relationships/cli.py
  tf-nr/relationships/entities.py
  tf-nr/relationships/env.example
  tf-nr/relationships/logging_utils.py
  tf-nr/relationships/matcher.py
  tf-nr/relationships/nerdgraph_client.py
  tf-nr/relationships/notes.txt
  tf-nr/relationships/queries.py
  tf-nr/relationships/relationships.py
  tf-nr/relationships/report.py
  tf-nr/relationships/report_template.html
  tf-nr/relationships/suggest.py
Due: none

v6
  tf-nr/data-stream/v6/notes.txt
Due: none

ecs notes
  ecs/reroll_notes_v1.txt
Due: none

add report for releases
  deploy-report/README.md
  deploy-report/admin-tools/README.md
  deploy-report/admin-tools/manage_team_topics.py
  deploy-report/config.example.yaml
  deploy-report/demo_data.py
  deploy-report/discovery/__init__.py
  deploy-report/discovery/common.py
  deploy-report/discovery/ecs.py
  deploy-report/discovery/ecs_history.py
  deploy-report/discovery/eks.py
  deploy-report/discovery/eks_history.py
  deploy-report/enrichment.py
  deploy-report/generate_report.py
  deploy-report/github_lookup.py
  deploy-report/harness_client.py
  deploy-report/jira_client.py
  deploy-report/newrelic_client.py
  deploy-report/nexus_client.py
  deploy-report/report_renderer.py
  deploy-report/requirements.txt
  deploy-report/sample-asof.html
  deploy-report/sample-current.html
  deploy-report/sample-history.html
  deploy-report/team_registry.py
  deploy-report/teams.example.json
  deploy-report/templates/_base_styles.html
  deploy-report/templates/history_template.html
  deploy-report/templates/report_template.html
Due: check-yaml-indent

git hub auto
  github-auto/README.md
  github-auto/apply_golden_repo.py
  github-auto/golden-repo-config.example.json
  github-auto/harness-pipeline.yaml
Due: check-yaml-indent

nr dpeloy marker chat
  newrelic-deploy-marker/nr-deploy-marker.txt
Due: none

stream notes v7
  tf-nr/data-stream/v7/notes-v7.txt
Due: none

golden template check
  golden-template-check/golden_templates.example.txt
  golden-template-check/harness_template_audit.py
  golden-template-check/teams.example.json
Due: none

update ecs notes
  ecs/reroll_notes_v2.txt
Due: none

more ecs notes
  ecs/reroll_notes_v3.txt
Due: none

add platform discussion notes
  platform/platform-notes-01.md
Due: none

update vault
  vault/README.md
  vault/policy-example.hcl
  vault/requirements.txt
  vault/sample_structure.html
  vault/sample_structure.txt
  vault/vault-tree.txt
  vault/vault_tree_scanner.py
  vault/vaults.example.yaml
Due: check-yaml-indent

updtae dms nrql
  tf-nr/dms-query/dnrql_dms.txt
Due: none
